name: vercel 배포

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Github Repository 파일 불러오기
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: 시크릿 파일들 추가하기
        run: echo "${{ secrets.ENV }}" > .env
      - name: Node 설치
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: pnpm 설치
        uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: 의존성 설치
        run: pnpm install
      - name: 코드 포맷팅 적용
        run: pnpm run format:src
      - name: vercel cli 설치
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
